* {
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
}

.pomodoro {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #1e212d;
  color: #eabf9f;
  font-family: "Roboto Mono", monospace;
  /* height: 100vh; */
}

.pomodoro {
  font-size: 6em;
}

.pomodoro.break-time {
  background-color: #eabf9f;
  color: #1e212d;
}

.message {
  font-size: 0.5em;
  min-height: 1.3em;
  margin-bottom: 0.5em;
}

.button-pomodoro {
  width: 200px !important;
  height: 50px !important;
  font-family: "Roboto Mono", monospace;
  background-color: #eabf9f;
  color: #1e212d;
  box-shadow: 5px 5px;
  border-radius: 5px;
}

.button-setting {
  width: 50px !important;
  height: 50px !important;
  font-family: "Roboto Mono", monospace;
  background-color: #eabf9f;
  color: #1e212d;
  /* box-shadow: 5px 5px; */
  border-radius: 50%;
}

.button-setting.break-time {
  width: 50px !important;
  height: 50px !important;
  font-family: "Roboto Mono", monospace;
  background-color: white ;
  color: #eabf9f;
  /* box-shadow: 5px 5px; */
  border-radius: 50%;
}